$item-spacing-0: 0px;
$item-spacing-1: 4px;
$item-spacing-2: 8px;
$item-spacing-3: 16px;
$item-spacing-4: 24px;
$item-spacing-5: 32px;

$turquoise: #00AFAC;
$dark-turquoise: #008780;
$green: #8CC646;
$dark-green: #00A85C;
$blue: #00A8DE;
$dark-blue: #0072BB;
$purple: #9A248E;
$dark-purple: #4C3F99;
$navy: #34495E;
$dark-navy: #2C3E50;
$yellow: #FFE610;
$orange: #F68B28;
$red: #E21A51;
$dark-red: #DA2028;
$pink: #E12990;
$silver: #ECF0F1;
$dark-silver: #BDC3C7;
$grey: #95A5A6;
$dark-grey: #7F8C8D;
$light-grey: #F1F1F1;
$beige: #C2B49A;
$dark-beige: #594A41;
$light-beige: #CDC8BE;
$white: #FFFFFF;
$black: #000000;
$black-light: #313435;