.vietnamese-zodiac-table {
  margin: $item-spacing-3;
}

.vietnamese-zodiac-table__table {
  th, td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
  }
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}